<div class="ui segment">

    <div class="ui stackable grid">
        <div class="three wide column">
            <div class="ui header">
                Search
            </div>
            <div class="ui form">
                <div class="field">
                    <div class="ui icon fluid input">
                        <input type="text" placeholder="Search..." ng-model="queryText"
                               ng-model-options="{debounce: 300}">
                        <i class="search icon"></i>
                    </div>
                </div>

            </div>


            <br/>
            <button type="button" style="margin-top: 20px; width:180px;" ng-click="exportCSV()"
                    class="ui pink button">Export Team Creation Data
            </button>

            <div class="ui divider"></div>

            <button ng-repeat="page in pages" ng-class="page == currentPage ? 'active pink' : ''"
                    ng-click="goToPage(page)" class="ui icon basic page button">
                {{page}}
            </button>

        </div>
        <div id="table-container" class="thirteen wide column">
            <div class="ui header">
                Users
            </div>

            <table
                    class="ui celled selectable compact users table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>School</th>
                    <th>First Choice</th>
                    <th>Second Choice</th>

                </tr>
                </thead>
                <tbody>
                <tr
                        ng-click="selectUser(user)"
                        ng-repeat="user in users"
                        ng-class="rowClass(user)">
                    <td>
                        <strong>
                            {{user.profile.name}}
                            &nbsp;

                        </strong>
                    </td>
                    <td>{{user.profile.school}}</td>
                    <td>{{user.confirmation.firstSponsorChoice}}</td>
                    <td>{{user.confirmation.secondSponsorChoice}}</td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>

</div>
