<div class="ui segment">

    <div class="ui stackable grid">
        <div class="three wide column">
            <div class="ui header">
                Search
            </div>
            <div class="ui form">
                <div class="field">
                    <div class="ui icon fluid input">
                        <input placeholder="Search..."
                               type="text">
                        <i class="search icon"></i>
                    </div>
                </div>

            </div>

            <div class="ui form">
                <div class="grouped fields">
                    <div class="field">
                        <div class="ui checkbox">
                            <label>
                                <input
                                        name="completedProfile"
                                        type="checkbox">
                            </label>
                            <label>Completed Profile</label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui checkbox">
                            <label>
                                <input
                                        name="admitted"
                                        type="checkbox">
                            </label>
                            <label>Admitted</label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui checkbox">
                            <label>
                                <input
                                        name="confirmed"
                                        type="checkbox">
                            </label>
                            <label>Confirmed</label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui checkbox">
                            <label>
                                <input
                                        name="declined"
                                        type="checkbox">
                            </label>
                            <label>Declined</label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui checkbox">
                            <label>
                                <input
                                        name="checkedIn"
                                        type="checkbox">
                            </label>
                            <label>Checked In</label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui checkbox">
                            <label>
                                <input
                                        name="verified"
                                        type="checkbox">
                            </label>
                            <label>Verified</label>
                        </div>
                    </div>
                </div>
            </div>

            <br/>
            <button class="ui pink button" style="margin-top: 20px; width:180px;"
                    type="button">Export All Accepted Users
            </button>
            <button class="ui green button" style="margin-top: 20px; width:180px;"
                    type="button">Export Confirmed Users
            </button>
            <button class="ui green button" style="margin-top: 20px; width:180px;"
                    type="button">Export Unpaid (Unverified Payment) Users
            </button>
            <button class="ui green button" style="margin-top: 20px; width:180px;"
                    type="button">Export ATTENDING FINAL Users
            </button>
            <button class="ui teal button" style="margin-top: 20px; width:180px;" type="button">
                Export All Users
            </button>

            <div class="ui divider"></div>

            <button class="ui icon basic page button"
            >
                {{page}}
            </button>

        </div>
        <div class="thirteen wide column" id="table-container">
            <div class="ui header">
                Users
            </div>

            <div class="ui long user modal">
                <i class="close icon"></i>
                <div class="header">
                    {{selectedUser.profile.name ? selectedUser.profile.name : selectedUser.email}}
                    <span
                    >
                  (Admin)
                </span>
                </div>
                <div class="content">

                    <div>
                        <div class="ui header">
                            Status:
                            <div
                                    class="ui label">
                                {{selectedUser.status.name.toUpperCase()}}
                            </div>
                        </div>
                        <p>
                            <strong> Admitted by: </strong> {{selectedUser.status.admittedBy ?
                            selectedUser.status.admittedBy : 'N/A'}}
                        </p>
                    </div>

                    <div>
                        <div class="ui divider"></div>

                        <h3> {{section.title}} </h3>

                        <p>
                            <strong> {{field.name}}: </strong>

                            <span>
                      <i class="red circle remove icon"></i>
                      <i class="green circle check icon"></i>
                    </span>

                            <span>
                      {{field.value}}
                    </span>
                        </p>

                    </div>

                </div>

                <div class="actions">
                    <div class="ui positive right labeled icon button">
                        Nothing
                        <i class="checkmark icon"></i>
                    </div>
                </div>
            </div>

            <table
                    class="ui celled selectable compact users table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>E-mail address</th>
                    <th>School</th>
                    <th>V/S/A/C</th>
                    <th>$$$</th>

                    <th>Link</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr
                >
                    <td>
                        <strong>
                            {{user.profile.name}}
                            &nbsp;

                        </strong>
                    </td>
                    <td>{{user.email}}</td>
                    <td>{{user.profile.school}}</td>
                    <td
                            class="collapsing">

                        <!-- Verified -->
                        <i
                                class="green check circle icon"
                        >
                        </i>
                        <i
                                class="red remove circle icon"
                        >
                        </i>

                        <!-- Submitted -->
                        <i
                                class="green check circle icon"
                        >
                        </i>
                        <i
                                class="red remove circle icon"
                        >
                        </i>

                        <!-- Admitted -->
                        <i
                                class="green check circle icon"
                        >
                        </i>
                        <i
                                class="thin circle icon"
                        >
                        </i>

                        <!-- Confirmed -->
                        <i
                                class="circle thin icon"
                        >
                        </i>
                        <i
                                class="green check circle icon"
                        >
                        </i>
                        <i
                                class="question icon"
                        >
                        </i>
                        <i
                                class="red remove circle icon"
                        >
                        </i>
                        <i
                                class="red remove circle icon"
                        >
                        </i>

                    </td>

                    <!-- Host -->
                    <td
                            class="collapsing">

                        <button
                                class="ui circular mini basic green icon button"
                        >

                            <i
                                    class="lira sign icon"
                            ></i>

                            <i
                                    class="green lira sign icon"
                            ></i>

                        </button>

                    </td>


                    <td
                            class="collapsing">
                        <button
                                class="ui circular mini basic icon button"
                        >
                            <i class="linkify icon"></i>
                        </button>
                    </td>

                    <td
                            class="right aligned collapsing">

                        <button
                                class="accept ui circular mini basic green icon button"
                        >
                            <i class="add user icon"></i>
                        </button>

                        <button
                                class="ui circular mini basic green icon button"
                        >

                            <i
                                    class="flag outline icon"
                            ></i>

                            <i
                                    class="green flag icon"
                            ></i>

                        </button>

                        <button
                                class="ui circular mini basic green icon button"
                        >

                            <i
                                    class="spy outline icon"
                            ></i>

                            <i
                                    class="green spy icon"
                            ></i>

                        </button>

                    </td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>

</div>
