<div id="login">
    <div class="container">
        <div class="content">
            <div class="ui segment">

                <div class="logo">
                    <img src="/assets/images/logo-color.svg">
                </div>

                <div class="ui divider"></div>

                <div class="ui small error message"
                >
                    {{error}}
                </div>

                <div>
                    <div class="ui login-password form">
                        <form>
                            <div class="field">
                                <label> E-Posta</label>
                                <input id='email'
                                       placeholder="foo@bar.edu"
                                       type="email">
                            </div>
                            <div class="field">
                                <label> Şifre</label>
                                <input id='password'
                                       placeholder="Şifre (En az 6 karakter)"
                                       required type="password">
                            </div>
                            <div class="field">
                                <button class="fluid ui login button"
                                        id="login-password"
                                        type="submit">
                                    Giriş Yap
                                </button>
                            </div>
                        </form>
                    </div>

                    <div class="ui form">
                        <div class="ui divider"></div>
                        <div class="field">
                            <button class="fluid ui register button"
                                    id="register"
                                    type="submit">
                                Kayıt Ol
                            </button>
                        </div>
                    </div>
                </div>

                <div>
                    <div class="ui forgot-password form">
                        <form>
                            <div class="field">
                                <label> E-Posta</label>
                                <input id='emailForgot'
                                       placeholder="foo@bar.edu"
                                       type="email">
                            </div>
                            <div class="field">
                                <button class="fluid ui login button"
                                        id="forgot-password"
                                        type="submit">
                                    Şifremi Sıfırla
                                </button>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="ui divider"></div>

                <div class="forgot">
                    <a href="#">
                        Şifreni mi unuttun?
                    </a>
                </div>

                <div class="forgot">
                    <a href="#">
                        {{regIsOpen ? 'Giriş yap veya kaydol' : 'Giriş'}}
                    </a>
                </div>


            </div>
        </div>

    </div>
</div>
