<div class="page" id="admin">
    <div class="divided title">
        GOD MODE
    </div>

    <div class="ui three item menu">
        <a
                class="item"
        >
            Stats
        </a>


        <a
                class="item"
        >
            Users
        </a>

        <a
                class="item"
        >
            Settings
        </a>
        <a
                class="item"
        >
            Teams Settings
        </a>

    </div>
    <!-- View for admin panel content -->
    <ui-view></ui-view>
</div>
