<div class="page" id="application">
  <div class="divided title">
    Başvuru Formu
  </div>

  <div class="ui stackable page grid">
    <div class="column">
      <div class="ui form"
           ng-class="{'loading': loading}">

        <div class="divided title">Kişisel Bilgiler</div>

        <fieldset ng-disabled="regIsClosed">

          <div class="field">
            <label> E-Posta </label>
            <input disabled="disabled"
                   name="email"
                   ng-model="user.email"
                   type="email">
          </div>

          <div class="field">
            <label> Ad-Soyad </label>
            <p> Kampüse girişte sıkıntı çıkmaması adına lütfen resmi kimlik belgenizde yazıldığı şekilde giriniz.</p>
            <input name="name"
                   ng-model="user.profile.name"
                   type="text">
          </div>

            <div class="field">
            <label> Okul </label>
            <div id="school">
              <input name="school"
                     ng-model="user.profile.school"
                     type="text">
            </div>
            </div>


          <div class="field">
              <label>Doğum Gününüz</label>
              <div id="bday">
                <input name="bday"
                       ng-model="user.profile.bday"
                       type="date">
              </div>
            </div>



              <div class="field">
                <label>Cep Telefonu Numaranız</label>
                <input pattern="[0-9. ]+" type="number" ng-model="user.profile.phoneNumber" placeholder="05xxxxxxxxx (Boşluksuz)" name="phoneNumber" >
              </div>


              <div class="field">
                <label>Barbekü Gecesi'ne katılacak mısınız?</label>
                <p> 18 Mayıs Cumartesi günü yapılacaktır.</p>
                <select
                        name="bbqChoice"
                        ng-model="user.profile.bbqChoice">
                  <option value="">Tercihim</option>

                  <option value=1>Evet</option>
                  <option value=0>Hayır</option>

                </select>
              </div>


              <div class="field">
                <label>Açılış Yemeği'ne katılacak mısınız?</label>
                <p> 17 Mayıs Cuma günü yapılacaktır.</p>
                <select
                        name="openingChoice"
                        ng-model="user.profile.openingChoice">
                  <option value="">Tercihim</option>

                  <option value=1>Evet</option>
                  <option value=0>Hayır</option>

                </select>
              </div>

              <div class="field">
                <label>Vejeteryan mısınız?</label>
                <select
                        name="veggie"
                        ng-model="user.profile.veggie">
                  <option value="">Tercihim</option>

                  <option value=1>Evet</option>
                  <option value=0>Hayır</option>

                </select>
              </div>

              <div class="field">
                <label>Remixopolis'i nasıl öğrendiniz?</label>
                <select name="ref" ng-model="user.profile.referral" onchange='checkvalue(this.value)'>
                  <option>Seçenekler</option>
                  <option value="Sosyal Medya">Sosyal Medya</option>
                  <option value="Arkadaşlar">Arkadaşlar</option>
                  <option value="Öğretmen">Öğretmen</option>
                  <option value="Okul tanıtımı">Okul tanıtımı</option>
                  <option value="Eski Katılımcı">Eski Katılımcı</option>
                  <option value="others">Diğer</option>
                </select>
              </div>


              <br>

              <div class="field" ng-hide="regIsClosed">
                <button class="fluid ui purple button"
                        ng-click="submitForm()"
                        type="submit">
                  Gönder
                </button>
              </div>
            </div>
        </fieldset>
      </div>

    </div>
  </div>
</div>
</div>
