<div id="login">
    <div class="container">
        <div class="content">
            <div class="ui segment">

                <div class="logo">
                    <img src="assets/images/logo-color.svg">
                </div>

                <div class="ui divider"></div>

                <div class="ui small error message"
                     ng-show="error">
                    {{error}}
                </div>

                <div class="ui login-password form">
                    <form ng-submit="changePassword()">
                        <div class="field">
                            <label> Yeni Şifre</label>
                            <input id='password'
                                   ng-model="password"
                                   placeholder="Password (at least 6 characters)"
                                   required type="password">
                        </div>
                        <div class="field">
                            <label> Şifreni Doğrula</label>
                            <input id='confirm'
                                   ng-model="confirm"
                                   placeholder="Just making sure you got it!"
                                   required type="password">
                        </div>
                        <div class="field">
                            <button class="fluid ui login button"
                                    id="reset-password"
                                    type="submit">
                                Şifremi Değiştir
                            </button>
                        </div>

                    </form>
                </div>

            </div>
        </div>

    </div>
</div>
