<div class="page">
    <div class="divided title">
        Workshop/Şirket Tercihleri
    </div>

    <div class="ui stackable page grid">
        <div class="column">

            <div class="ui form">
                <div class="divided title">Şirket Tercihiniz</div>


                <div class="field">
                    <label>İlk Şirket Tercihiniz</label>
                    <select
                            name="choice1"
                            ng-model="user.confirmation.firstSponsorChoice">
                        <option value="">Tercihim</option>
                        <option value="Yapi">YapıKredi</option>
                        <option value="Siemens">Siemens</option>
                        <option value="Istinye">İstinye Üniversitesi</option>
                    </select>
                </div>

                <div class="field">
                    <label>İkinci Şirket Tercihiniz</label>
                    <select
                            name="choice2"
                            ng-model="user.confirmation.secondSponsorChoice">
                        <option value="">Tercihim</option>
                        <option value="Yapi">YapıKredi</option>
                        <option value="Siemens">Siemens</option>
                        <option value="Istinye">İstinye Üniversitesi</option>
                    </select>
                </div>

                <div class="divided title">Workshop Tercihleriniz</div>

                <div class="field">
                    <label>İlk Workshop Tercihiniz</label>
                    <select
                            name="wshop1"
                            ng-model="wshop1">
                        <option value="">Tercihim</option>
                        <option value="W001">Algılanan Mekanlar: Görselin Ötesi</option>
                        <option value="W002">Yaratıcılık için Bilinçli Farkındalık </option>
                        <option value="W003"> Tasarlanacak Bir Girişimin Business Canvas Üzerine Dökümü</option>
                        <option value="W004">  Duygu Tanıma ve Artistik Stil Transferi</option>
                        <option value="W005"> Dijital Oyun Tasarımı Etkinliği  “RPG Maker”</option>
                        <option value="W006"> Birlikte Yargılayalım! Atölyesi</option>
                        <option value="W007"> Postural Farkındalık Eğitimi</option>
                        <option value="W008"> Vücut Bileşimi ve Sağlık</option>
                        <option value="W009"> StoryBranding</option>
                        <option value="W010"> Hayatı Oyun Gibi Görmek</option>
                        <option value="W011"> Yalan Haber Sorunu ve Doğrulama</option>
                        <option value="W012"> I Am Coding Studio</option>

                    </select>
                </div>

                <div class="field">
                    <label>Ikinci Workshop Tercihiniz</label>
                    <select
                            name="wshop2"
                            ng-model="wshop2">
                        <option value="">Tercihim</option>
                        <option value="W001">Algılanan Mekanlar: Görselin Ötesi</option>
                        <option value="W002">Yaratıcılık için Bilinçli Farkındalık </option>
                        <option value="W003"> Tasarlanacak Bir Girişimin Business Canvas Üzerine Dökümü</option>
                        <option value="W004">  Duygu Tanıma ve Artistik Stil Transferi</option>
                        <option value="W005"> Dijital Oyun Tasarımı Etkinliği  “RPG Maker”</option>
                        <option value="W006"> Birlikte Yargılayalım! Atölyesi</option>
                        <option value="W007"> Postural Farkındalık Eğitimi</option>
                        <option value="W008"> Vücut Bileşimi ve Sağlık</option>
                        <option value="W009"> StoryBranding</option>
                        <option value="W010"> Hayatı Oyun Gibi Görmek</option>
                        <option value="W011"> Yalan Haber Sorunu ve Doğrulama</option>
                        <option value="W012"> I Am Coding Studio</option>
                    </select>
                </div>

                <div class="field">
                    <label>Üçüncü Workshop Tercihiniz</label>
                    <select
                            name="wshop3"
                            ng-model="wshop3">
                        <option value="">Tercihim</option>
                        <option value="W001">Algılanan Mekanlar: Görselin Ötesi</option>
                        <option value="W002">Yaratıcılık için Bilinçli Farkındalık </option>
                        <option value="W003"> Tasarlanacak Bir Girişimin Business Canvas Üzerine Dökümü</option>
                        <option value="W004">  Duygu Tanıma ve Artistik Stil Transferi</option>
                        <option value="W005"> Dijital Oyun Tasarımı Etkinliği  “RPG Maker”</option>
                        <option value="W006"> Birlikte Yargılayalım! Atölyesi</option>
                        <option value="W007"> Postural Farkındalık Eğitimi</option>
                        <option value="W008"> Vücut Bileşimi ve Sağlık</option>
                        <option value="W009"> StoryBranding</option>
                        <option value="W010"> Hayatı Oyun Gibi Görmek</option>
                        <option value="W011"> Yalan Haber Sorunu ve Doğrulama</option>
                        <option value="W012"> I Am Coding Studio</option>
                    </select>
                </div>

                <div class="field">
                    <button class="fluid ui purple button"
                            ng-click="submitForm()"
                            type="submit">
                        Gönder
                    </button>
                </div>

            </div>
        </div>
    </div>
</div>
