<div class="page">
    <div class="divided title">
        Firma Tercihi
    </div>

    <div class="ui stackable page grid">
        <div class="column">

            <div class="ui form">
                <div class="divided title">Komite Tercihiniz</div>


                <div class="field">
                    <label>İlk Şirket Tercihiniz</label>
                    <select
                            name="choice1"
                            ng-model="user.confirmation.firstSponsorChoice">
                        <option value="">Tercihim</option>
                        <option value="Yapi">YapıKredi</option>
                        <option value="Siemens">Siemens</option>
                        <option value="Istinye">İstinye Üniversitesi</option>
                    </select>
                </div>

                <div class="field">
                    <label>İkinci Şirket Tercihiniz</label>
                    <select
                            name="choice2"
                            ng-model="user.confirmation.secondSponsorChoice">
                        <option value="">Tercihim</option>
                        <option value="Yapi">YapıKredi</option>
                        <option value="Siemens">Siemens</option>
                        <option value="Istinye">İstinye Üniversitesi</option>
                    </select>
                </div>

                <div class="divided title">Workshop Tercihleriniz</div>

                <div class="field">
                    <label>İlk Workshop Tercihiniz</label>
                    <select
                            name="wshop1"
                            ng-model="wshop1">
                        <option value="">Tercihim</option>
                        <option value="Yapi">YapıKredi</option>
                        <option value="Siemens">Siemens</option>
                        <option value="Istinye">İstinye Üniversitesi</option>
                    </select>
                </div>

                <div class="field">
                    <label>Ikinci Workshop Tercihiniz</label>
                    <select
                            name="wshop2"
                            ng-model="wshop2">
                        <option value="">Tercihim</option>
                        <option value="Yapi">YapıKredi</option>
                        <option value="Siemens">Siemens</option>
                        <option value="Istinye">İstinye Üniversitesi</option>
                    </select>
                </div>

                <div class="field">
                    <label>Üçüncü Workshop Tercihiniz</label>
                    <select
                            name="wshop3"
                            ng-model="wshop3">
                        <option value="">Tercihim</option>
                        <option value="Yapi">YapıKredi</option>
                        <option value="Siemens">Siemens</option>
                        <option value="Istinye">İstinye Üniversitesi</option>
                    </select>
                </div>

                <div class="field" ng-hide="regIsClosed">
                    <button class="fluid ui purple button"
                            ng-click="submitForm()"
                            type="submit">
                        Gönder
                    </button>
                </div>

            </div>
        </div>
    </div>
</div>
