<div id="stats">

    <div class="ui green segment" ng-class="{'loading': loading}">
        <div class="ui header">
            Stats
        </div>
        <div class="content">
            <em> Last updated: {{fromNow(stats.lastUpdated)}}</em>
            <div class="ui list">
                <div class="item">
                    <i class="green circle check icon"></i>
                    <div class="content">
                        <strong>
                            Total Users
                        </strong> : {{stats.total}}
                    </div>
                </div>
                <div class="item">
                    <i class="green circle check icon"></i>
                    <div class="content">
                        <strong>
                            Verified Users
                        </strong> : {{stats.verified}} ({{stats.verified / stats.total * 100 | number: 1}}%)
                    </div>
                </div>
                <div class="item">
                    <i class="green circle check icon"></i>
                    <div class="content">
                        <strong>
                            Submitted Users
                        </strong> : {{stats.submitted}} ({{stats.submitted / stats.total * 100 | number: 1}}%)
                    </div>
                </div>
                <div class="ui divider"></div>
                <div class="item">
                    <i class="green circle check icon"></i>
                    <div class="content">
                        <strong>
                            Admitted
                        </strong> : {{stats.admitted}}
                    </div>
                </div>
                <div class="item">
                    <i class="green circle check icon"></i>
                    <div class="content">
                        <strong>
                            Confirmed (Total)
                        </strong> : {{stats.confirmed}}
                    </div>
                </div>
                <div class="item">
                    <i class="green circle check icon"></i>
                    <div class="content">
                        <strong>
                            Confirmed (RC)
                        </strong> : {{stats.confirmedMcGill}}
                    </div>
                </div>
                <div class="item">
                    <i class="circle red icon"></i>
                    <div class="content">
                        <strong>
                            Declined
                        </strong> : {{stats.declined}}
                    </div>
                </div>

                <div class="item">
                    <i class="green flag icon"></i>
                    <div class="content">
                        <strong>
                            Checked In
                        </strong> : {{stats.checkedIn}}
                    </div>
                </div>


                <div class="item">
                    <i class="green money icon"></i>
                    <div class="content">
                        <strong>
                            Paid
                        </strong> : {{stats.paid}}
                    </div>
                </div>


                <div class="ui divider"></div>


                <div class="item">
                    <i class="food icon"></i>
                    <div class="content">
                        <strong>
                            Veggies:
                        </strong>
                        {{stats.veggie}}
                    </div>
                </div>
                <div class="item">
                    <i class="food icon"></i>
                    <div class="content">
                        <strong>
                            BBQ Night Reservations:
                        </strong>
                        {{stats.bbqNight}}
                    </div>
                </div>
                <div class="item">
                    <i class="food icon"></i>
                    <div class="content">
                        <strong>
                            Opening Dinner Reservations:
                        </strong>
                        {{stats.openingDinner}}
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="item">
        <div class="content">
            <strong>
                Send reminder emails for users who have not submitted application:
            </strong>
            <div class="field" style="margin-bottom:5px">
                <button type="submit"
                        class="fluid ui sea-serpent button"
                        ng-click="sendLaggerEmails()">
                    Send!
                </button>
            </div>
        </div>
    </div>
    <div class="content">
        <strong>
            Send reminder emails for users who have not confirmed (Filled in the form) in application:
        </strong>
        <div class="field" style="margin-bottom:5px">
            <button type="submit"
                    class="fluid ui sea-serpent button"
                    ng-click="sendLaggerPaymentEmails()">
                Send!
            </button>
        </div>
    </div>


    <div class="ui pink segment" ng-class="{'loading': loading}">
        <div class="ui header">
            Demographics
        </div>
        <div class="ui list">
            <div class="item">
                <i class="users icon"></i>
                <div class="content">
                    <strong>Total users</strong>: {{stats.total}}
                </div>
            </div>
        </div>
        <div class="ui divider"></div>
        <div class="ui header">First company selections</div>
        <div class="ui list">
            <div class="item" ng-repeat="(key, value) in stats.demo.companiesfirst">
                <strong>{{key}}:</strong> {{value}} ({{value / stats.total * 100 | number: 1}}%)
            </div>
        </div>


        <div class="ui header">Second company selections</div>
        <div class="ui list">
            <div class="item" ng-repeat="(key, value) in stats.demo.companiessecond">
                <strong>{{key}}:</strong> {{value}} ({{value / stats.total * 100 | number: 1}}%)
            </div>
        </div>
        <div class="ui divider"></div>
        <div class="ui list">
            <div class="item" ng-repeat="school in stats.demo.schools | orderBy: '-count'">
                <div class="content">
                    <strong>{{school.email}}</strong> : {{school.count}} ({{school.count / stats.total * 100 | number:
                    1}}%)
                    <p>
                    <div class="ui purple mini label">
                        Submitted: {{school.stats.submitted}}
                    </div>
                    <div class="ui pink mini label">
                        Admitted: {{school.stats.admitted}}
                    </div>
                    <div class="ui green mini label">
                        Confirmed: {{school.stats.confirmed}}
                    </div>
                    <div class="ui red mini label">
                        Declined: {{school.stats.declined}}
                    </div>
                    </p>
                    <div class="ui divider"></div>
                </div>
            </div>
        </div>
    </div>


</div>
