<div class="page" id="defnesAdmin">
    <div class="divided title">
        GOD MODE
    </div>

    <div class="ui three item menu">
        <a
                class="item"
                ui-sref="app.defnesAdmin.stats"
                ui-sref-active="active">
            Stats
        </a>

        <a
                class="item"
                ui-sref="app.defnesAdmin.users"
                ui-sref-active="active">
            Users
        </a>

        <a
                class="item"
                ui-sref="app.defnesAdmin.exportteams"
                ui-sref-active="active">
            Teams Settings
        </a>

    </div>
    <!-- View for admin panel content -->
    <ui-view></ui-view>
</div>
