<div class="page">
  <div class="divided title">
    Check-In
  </div>
  <div class="ui segment">

    <div class="ui stackable grid">
      <div class="three wide column">
        <div class="ui header">
          Search
        </div>
        <div class="ui form">
          <div class="field">
            <div class="ui icon fluid input">
              <input ng-model="queryText" ng-model-options="{debounce: 300}" placeholder="Search..." type="text">
              <i class="search icon"></i>
            </div>
          </div>

        </div>
        <div class="ui form">
          <div class="grouped fields">
            <div class="field">
              <div class="ui checkbox">
                <input
                        type="checkbox"
                        name="confirmed"
                        ng-model="statusFilters.confirmed"
                        ng-change="applyStatusFilter()">
                <label>Confirmed</label>
              </div>
            </div>
            </div>
        </div>


        <br />

        <div class="ui divider"></div>

        <button class="ui icon basic page button" ng-class="page == currentPage ? 'active pink' : ''" ng-click="goToPage(page)" ng-repeat="page in pages">
          {{page}}
        </button>

      </div>
    </div>

  </div>
</div>
