<div class="verify page">
    <div class="divided title">
        E-POSTA DOĞRULAMA
    </div>
    <div class="ui segment">
        <div>
            <i class="green check circle icon"></i>
            <p>
                E-Postan doğrulandı!
            </p>
            <br>
            <div class="ui fluid button"
            >
                Ana Sayfa'ya Devam Et
            </div>
        </div>
        <div>
            <i class="red circle remove icon"></i>
            <p>
                Geçersiz Token.
            </p>
        </div>
    </div>
</div>
