<div class="ui top attached segment">

    <div class="ui header">
        {{selectedUser.profile.name ? selectedUser.profile.name : selectedUser.email}}
        <span
        >
      (Admin)
    </span>
    </div>

</div>

<div class="ui botom attached segment">

    <div>
        <p>
            <strong> Status: </strong>
            <span
                    class="ui label">
        {{selectedUser.status.name.toUpperCase()}}
      </span>
        </p>
        <p>
            <strong> Admitted by: </strong> {{selectedUser.status.admittedBy ? selectedUser.status.admittedBy : 'N/A'}}
        </p>
    </div>

    <div class="ui divider"></div>

    <div class="ui form">

        <fieldset>

            <div class="ui header">
                Basic Info
            </div>

            <div class="field">
                <strong>
                    Created on:
                </strong>
                {{formatTime(selectedUser.timestamp)}}
            </div>

            <div class="field">
                <strong>
                    Last Updated:
                </strong>
                {{formatTime(selectedUser.lastUpdated)}}
            </div>


            <div class="field">
                <label> Email </label>
                <label>
                    <input type="text"/>
                </label>
            </div>


        </fieldset>

    </div>

    <div class="ui divider"></div>

    <div class="ui form">

        <fieldset>

            <div class="ui header">
                Profile
            </div>

            <div class="field">
                <label> Email </label>
                <label>
                    <input type="email"
                           name="email"
                           disabled="disabled"
                    >
                </label>
            </div>

            <div class="field">
                <label> Full Name </label>
                <label>
                    <input type="text"
                           name="name"
                    >
                </label>
            </div>


            <div class="field">
                <label> School </label>
                <label>
                    <input type="text"
                           name="school"
                    >
                </label>
            </div>


            <div class="field">
                <label>Barbekü Gecesi'ne katılacak mısınız?</label>
                <label>
                    <select
                            name="bbqChoice"
                    >
                        <option value="">Tercihim</option>

                        <option value=1>Evet</option>
                        <option value=0>Hayır</option>

                    </select>
                </label>
            </div>


            <div class="field">
                <label>Açılış Yemeği'ne katılacak mısınız?</label>
                <label>
                    <select
                            name="openingChoice"
                    >
                        <option value="">Tercihim</option>

                        <option value=1>Evet</option>
                        <option value=0>Hayır</option>

                    </select>
                </label>
            </div>

            <div class="field">
                <label>Vejeteryan mısınız?</label>
                <label>
                    <select
                            name="veggie"
                    >
                        <option value="">Tercihim</option>

                        <option value=1>Evet</option>
                        <option value=0>Hayır</option>

                    </select>
                </label>
            </div>

            <div class="field">
                <label>Remixopolis'i nasıl öğrendiniz?</label>
                <label>
                    <input
                            type="text">
                </label>
            </div>

            <div class="field">
                <div
                        class="ui positive right labeled icon button">
                    Update Profile
                    <i class="checkmark icon"></i>
                </div>
            </div>

        </fieldset>
    </div>

    <div class="ui divider"></div>

    <div class="ui form">

        <fieldset>

            <div class="ui header">
                Confirmation
            </div>


            <div class="field">
                <label> Receipt </label>
                <label>
                    <input type="url"/>
                </label>
            </div>

            <div class="ui divider"></div>

            <div class="field">
                <label> Additional Notes </label>
                <label>
                    <textarea></textarea>
                </label>
            </div>

        </fieldset>

    </div>
</div>
