<div class="ui segment">

    <div class="ui stackable grid">
        <div class="three wide column">
            <div class="ui header">
                Search
            </div>
            <div class="ui form">
                <div class="field">
                    <div class="ui icon fluid input">
                        <input ng-model="queryText" ng-model-options="{debounce: 300}" placeholder="Search..."
                               type="text">
                        <i class="search icon"></i>
                    </div>
                </div>

            </div>

            <div class="ui form">
                <div class="grouped fields">
                    <div class="field">
                        <div class="ui checkbox">
                            <input
                                    name="completedProfile"
                                    ng-change="applyStatusFilter()"
                                    ng-model="statusFilters.completedProfile"
                                    type="checkbox">
                            <label>Completed Profile</label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui checkbox">
                            <input
                                    name="admitted"
                                    ng-change="applyStatusFilter()"
                                    ng-model="statusFilters.admitted"
                                    type="checkbox">
                            <label>Admitted</label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui checkbox">
                            <input
                                    name="confirmed"
                                    ng-change="applyStatusFilter()"
                                    ng-model="statusFilters.confirmed"
                                    type="checkbox">
                            <label>Confirmed</label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui checkbox">
                            <input
                                    name="declined"
                                    ng-change="applyStatusFilter()"
                                    ng-model="statusFilters.declined"
                                    type="checkbox">
                            <label>Declined</label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui checkbox">
                            <input
                                    name="checkedIn"
                                    ng-change="applyStatusFilter()"
                                    ng-model="statusFilters.checkedIn"
                                    type="checkbox">
                            <label>Checked In</label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui checkbox">
                            <input
                                    name="verified"
                                    ng-change="applyStatusFilter()"
                                    ng-model="statusFilters.verified"
                                    type="checkbox">
                            <label>Verified</label>
                        </div>
                    </div>
                </div>
            </div>

            <br/>
            <button class="ui pink button" ng-click="getAllAdmittedCSV()" style="margin-top: 20px; width:180px;"
                    type="button">Export All Accepted Users
            </button>
            <button class="ui green button" ng-click="getConfirmedCSV()" style="margin-top: 20px; width:180px;"
                    type="button">Export Confirmed Users
            </button>
            <button class="ui green button" ng-click="getUnpaidCSV()" style="margin-top: 20px; width:180px;"
                    type="button">Export Unpaid (Unverified Payment) Users
            </button>
            <button class="ui green button" ng-click="getFinalCSV()" style="margin-top: 20px; width:180px;"
                    type="button">Export ATTENDING FINAL Users
            </button>
            <button class="ui teal button" ng-click="exportCSV()" style="margin-top: 20px; width:180px;" type="button">
                Export All Users
            </button>

            <div class="ui divider"></div>

            <button class="ui icon basic page button" ng-class="page == currentPage ? 'active pink' : ''"
                    ng-click="goToPage(page)" ng-repeat="page in pages">
                {{page}}
            </button>

        </div>
        <div class="thirteen wide column" id="table-container">
            <div class="ui header">
                Users
            </div>

            <div class="ui long user modal">
                <i class="close icon"></i>
                <div class="header">
                    {{selectedUser.profile.name ? selectedUser.profile.name : selectedUser.email}}
                    <span
                            ng-show="selectedUser.admin">
                  (Admin)
                </span>
                </div>
                <div class="content">

                    <div>
                        <div class="ui header">
                            Status:
                            <div
                                    class="ui label">
                                {{selectedUser.status.name.toUpperCase()}}
                            </div>
                        </div>
                        <p>
                            <strong> Admitted by: </strong> {{selectedUser.status.admittedBy ?
                            selectedUser.status.admittedBy : 'N/A'}}
                        </p>
                    </div>

                    <div ng-repeat="section in selectedUser.sections">
                        <div class="ui divider"></div>

                        <h3> {{section.title}} </h3>

                        <p ng-repeat="field in section.fields">
                            <strong> {{field.name}}: </strong>

                            <span ng-show="field.type === 'boolean'">
                      <i class="red circle remove icon" ng-show="!field.value"></i>
                      <i class="green circle check icon" ng-show="field.value"></i>
                    </span>

                            <span ng-if="field.type == null">
                      {{field.value}}
                    </span>
                        </p>

                    </div>

                </div>

                <div class="actions">
                    <div class="ui positive right labeled icon button">
                        Nothing
                        <i class="checkmark icon"></i>
                    </div>
                </div>
            </div>

            <table
                    class="ui celled selectable compact users table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>E-mail address</th>
                    <th>School</th>
                    <th>V/S/A/C</th>
                    <th>$$$</th>
                    <th>Link</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr
                        ng-class="rowClass(user)"
                        ng-click="selectUser(user)"
                        ng-repeat="user in users">
                    <td>
                        <strong>
                            {{user.profile.name}}
                            &nbsp;

                        </strong>
                    </td>
                    <td>{{user.email}}</td>
                    <td>{{user.profile.school}}</td>
                    <td
                            class="collapsing">

                        <!-- Verified -->
                        <i
                                class="green check circle icon"
                                ng-if="user.verified">
                        </i>
                        <i
                                class="red remove circle icon"
                                ng-if="!user.verified">
                        </i>

                        <!-- Submitted -->
                        <i
                                class="green check circle icon"
                                ng-if="user.status.completedProfile">
                        </i>
                        <i
                                class="red remove circle icon"
                                ng-if="!user.status.completedProfile">
                        </i>

                        <!-- Admitted -->
                        <i
                                class="green check circle icon"
                                ng-if="user.status.admitted">
                        </i>
                        <i
                                class="thin circle icon"
                                ng-if="!user.status.admitted">
                        </i>

                        <!-- Confirmed -->
                        <i
                                class="circle thin icon"
                                ng-if="!user.status.admitted">
                        </i>
                        <i
                                class="green check circle icon"
                                ng-if="user.status.admitted && user.status.confirmed">
                        </i>
                        <i
                                class="question icon"
                                ng-if="user.status.admitted && !user.status.confirmed && !user.status.declined">
                        </i>
                        <i
                                class="red remove circle icon"
                                ng-if="user.status.admitted && user.status.declined">
                        </i>
                        <i
                                class="red remove circle icon"
                                ng-if="user.status.cancelled">
                        </i>

                    </td>

                    <!-- Host -->
                    <td
                            class="collapsing">

                        <button
                                class="ui circular mini basic green icon button"
                                ng-click="acceptPayment($event, user, $index)">

                            <i
                                    class="lira sign icon"
                                    ng-if="!user.status.paymentMade"></i>

                            <i
                                    class="green lira sign icon"
                                    ng-if="user.status.paymentMade"></i>

                        </button>

                    </td>


                    <td
                            class="collapsing">
                        <button
                                class="ui circular mini basic icon button"
                                ng-click="goUser($event, user)">
                            <i class="linkify icon"></i>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>

</div>
