<div class="page">
  <div class="divided title">
    Ödeme Bilgileri
  </div>

  <div class="ui stackable page grid">
    <div class="column">
        <fieldset ng-disabled="pastConfirmation">

         <div class="field">
            <label> Banka Hesap Bilgileri </label>
            <p>
              Alıcı: İstanbul Özel Amerikan Robert Lisesi
              <br>
              Banka: Akbank
              <br>
              Şube: Arnavutköy Şube
              <br>
              IBAN: TR060004600339888000042349
              <br>
              Hesap Numarası: 0339-0042349
              <br>
              Dekontun açıklamasına lütfen aşağıdaki şekilde not düşünüz:
              {{user.profile.name}} - JARC Remixopolis 2019 Bireysel Katılımcı

              Veya okul olarak ödenilecekse
              (Okul İsmi) - JARC Remixopolis 2019 Toplu Katılımcı Ödemeleri
              ve ödemenin yapılmasını takiben payment@remixopolis.org hesabına dekontun kopyasıyla birlikte ödemenin geçerli olduğu öğrencilerinin bir listesinin gönderilmesini rica ederiz.
              Dekontun ve öğrenci listesinin alınmasını takiben tarafınıza bir grup kodu gönderilecektir. Aynı dekontla kayıt yaptıracak herkesin Teyit formunda Grup Ödemesi seçeneğini işaretleyip çıkan kutucuğa grup numarasının yazılmasıyla kayıt işlemi yapılacaktır.
            </p>
          </div>

      </div>
    </div>
  </div>
</div>
