<div class="page">
  <div class="divided title">
    Ödeme Bilgileri
  </div>

  <div class="ui stackable page grid">
    <div class="column">
        <div class="divided title">Banka Hesap Bilgileri</div>

        <fieldset ng-disabled="pastConfirmation">

         <div class="field">
            <label> Hesap Bilgileri Buraya Gelecek </label>
            <p>
              IBAN:
              <br>
              Banka:
              <br>
              Şube:
            </p>
          </div>

      </div>
    </div>
  </div>
</div>
