<div id="payment" class="page">
    <div class="divided title">
        Ödeme Bilgileri
    </div>

    <div class="ui stackable page grid">
        <div class="column">
            <fieldset ng-disabled="pastConfirmation">
                <div class="field">
                    <div class="small title">
                        Banka Hesap Bilgileri:
                    </div>
                    <br>
                    <p>
                        Alıcı: İstanbul Özel Amerikan Robert Lisesi
                        <br>
                        Banka: Akbank
                        <br>
                        Şube: Arnavutköy Şube
                        <br>
                        IBAN: TR060004600339888000042349
                        <br>
                        Hesap Numarası: 0339-0042349

                    </p>
                </div>
                <br>

                <div class="field">
                    <div class="small title">
                        Dekont Detayları - Bireysel Ödeme
                    </div>
                    <br>
                    <p>
                        Dekontun açıklamasına lütfen aşağıdaki şekilde not düşünüz:
                        <br>
                    <div
                            class="state"
                            ng-class="user.profile.name">{{user.profile.name}} - JARC Remixopolis 2019 Bireysel
                        Katılımcı
                    </p>
                </div>
                <br>

                <div class="field">
                    <div class="small title">
                        Dekont Detayları - Toplu Ödeme
                    </div>
                    <br>
                    <p>
                        Dekontun açıklamasına lütfen aşağıdaki şekilde not düşünüz:
                        <br>
                    <div
                            class="state"
                            ng-class="user.profile.school">{{user.profile.school}} - JARC Remixopolis 2019 Toplu
                        Katılımcı Ödemeleri
                        <br>
                        Ve ödemenin yapılmasını takiben payment@remixopolis.org hesabına dekontun kopyasıyla birlikte
                        ödemenin geçerli olduğu öğrencilerinin bir listesini gönderiniz.
                        <br>
                        Dekontun ve öğrenci listesinin alınmasını takiben tarafınıza bir grup kodu gönderilecektir. Aynı
                        dekontla kayıt yaptıracak herkesin Teyit formunda Grup Ödemesi seçeneğini işaretleyip çıkan
                        kutucuğa grup numarasının yazılmasıyla kayıt işlemi yapılacaktır.
                    </p>
                </div>

        </div>
    </div>
</div>
