<div id="sidebar"
>
    <div class="logo item"
    >
        <img src="assets/images/logo.svg">
    </div>

    <div class="item"
    >
        Ana Sayfa
    </div>

    <div>

        <div
                class="item"

        >
            Başvuru
        </div>

        <div
                class="item"

        >
            Ödeme Bilgileri
        </div>
        <div
                class="item"

        >
            Teyit
        </div>

        <div
                class="item"

        >
            Şirket Tercihi
        </div>

        <div
                class="item"
        >
            Admin
        </div>

        <div
                class="item"
        >
            Check-in
        </div>


    </div>

    <a href="mailto:info@ja-rc.org" style="text-decoration:none; color:#ffffff;">
        <div class="item"
        >
            İletişim
        </div>
    </a>

    <div class="item"
    >
        Çıkış Yap
    </div>

    <div class="note">
        <a href="https://www.remixopolis.org" style="text-decoration:none; color:#ffffff;" target="_blank">© Remixopolis
            2019</a>
    </div>

</div>

<div class="tab"
>
    <i class="inverted big bars icon"></i>
    <span class="close">&#x2715</span>
</div>
