<div class="page">
    <div class="divided title">
        Teyit Formu
    </div>

    <div class="ui stackable page grid">
        <div class="column">

            <div class="ui form">

                <div class="divided title">Ödeme Bilgileri</div>

                <fieldset>
                    <div class="field">
                        <div class="ui toggle checkbox">
                            <label>
                                <input type="checkbox">
                            </label>
                            <label> Ödeme grup olarak yapıldı</label>
                        </div>
                    </div>
                    
                    <div class="field">
                                                <label>
                            Ödeme kimler için yapıldı?
                        </label>
                        <label>
<textarea
></textarea>
                        </label>

                    </div>
                    
                                           


                    <div class="field">
                        <label> Dekont Yükleme (Zorunlu) </label>
                        <p>
                            Lütfen dekontunuzu buraya yükleyin!
                        </p>
                        <a
                                class="ui pink button"
                                href="https://www.dropbox.com/request/E40v7fVAkSbZjhtdbTq0"
                                target="_blank">
                            Yükle
                        </a>
                    </div>
                    <div class="field">
                        <div class="ui toggle checkbox">
                            <label>
                                <input
                                        name="receiptConfirmation"
                                        type="checkbox"
                                >
                            </label>
                            <label>Dekontumu yüklediğimi teyit ediyorum.</label>
                        </div>
                    </div>
                    <br>
                    <br>

                    <div class="divided title">Fatura Bilgileri</div>


                    <div class="field">
                        <label>Fatura Isim ve Soyismi, veya Şirket İsmi</label>
                        <div id="billName">
                            <label>
                                <input name="billName"
                                       type="text">
                            </label>
                        </div>
                    </div>

                    <div class="field">
                        <label>Fatura Adresi</label>
                        <div id="billAddress">
                            <label>
<textarea
        name="billAddress"></textarea>
                            </label>
                        </div>
                    </div>

                    <div class="field" >
                        <label>Telefon Numarası</label>
                        <div id="billPhone">
                            <label>
                                <input name="billPhone"
                                       pattern="[0-9.]+" type="number">
                            </label>
                        </div>
                    </div>

                    <div class="field" >
                        <label>TC Kimlik Numarası</label>
                        <div id="billID">
                            <label>
                                <input name="billID"
                                       pattern="[0-9.]+" type="number">
                            </label>
                        </div>
                    </div>


                    <br>
                    <br>
                    <br>

                    <div class="divided title">Yasal Konular</div>

                    <div class="field">
                        <label> Katılım Şartnamesi </label>
                        <p>
                            <a
                                    href="http://www.remixopolis.org/wp-content/uploads/2019/04/Kullan%C4%B1c%C4%B1-So%CC%88zles%CC%A7mesi-Remixopolis.pdf"
                                    target="_blank">
                                Şartname
                            </a>
                        </p>
                        <p>
                            Yasal sebeplerden dolayı okulumuz ve JA-RC yukarıdaki linkten ulaşabileceğiniz Katılım
                            Şartnamesi'ni okumanızı ve kabul etmenizi istemektedir.
                        </p>
                        <p>
                            Aşağıdaki kutuya ismimi yazarak yukarıda bulunan Katılım Şartnamesi'ni okuduğumu ve
                            şartlarını kabul ettiğimi beyan ederim.
                        </p>
                        <input name="signatureLiabilityWaiver"
                               placeholder="İsminiz ve Soyisminiz."
                               type="text">
                    </div>


                    <br>
                    <br>

                    <div class="field">
                        <button class="fluid ui purple button"
                                type="submit">
                            Gönder
                        </button>
                    </div>

                </fieldset>
            </div>
        </div>
    </div>
</div>
