<div class="page" id="dashboard">
    <div class="divided title">
        Ana Sayfa
    </div>

    <div class="ui stackable centered page grid">
        <div class="column">
            <div class="ui status segment">
                <div class="small title">
                    Başvuru Durumun:
                </div>
                <br>

                <div
                        class="state"
                >
                    {{user.status.name}}
                </div>

                <div
                        class="declined state"
                >
                    Başvuru Geçerlilik Süresi Geçmiş
                </div>


                <div
                        class="waitlist state"
                >
                    Bekleme Listesinde
                </div>

                <div class="ui divider"></div>

                <div>
                    <p>
                        <strong>
                            Merhaba {{user.profile.name}}!
                        </strong>
                    </p>
                    <p>
                    </p>
                </div>

                <div
                        class="description"
                >
                    <p>
                        <strong>
                            E-Postanı ({{user.email}}) daha doğrulamamışsın!
                        </strong>
                    </p>
                    <p>
                        {{ DASHBOARD.UNVERIFIED }}
                    </p>
                    <div class="ui purple button">
                        Doğrulama E-Postasını Tekrar Gönder
                    </div>
                </div>

                <div
                >
                    <strong>
                        Son Kayıt Tarihi:
                    </strong>
                    13 Mayıs 2019 23:59
                </div>

                <div
                >
                    <strong>
                        Son Teyit Tarihi:
                    </strong>
                    <br>
                    1 Mayıs 2019 23:59 (Erken Kayıt)
                    <br>
                    13 Mayıs 2019 23:59 (Geç Kayıt)
                </div>
                <br>
                <div
                        class="description"
                >
                    <p>
                        <strong>
                            {{ DASHBOARD.INCOMPLETE_TITLE }}
                        </strong>
                    </p>
                    <p>
                        {{ DASHBOARD.INCOMPLETE }}
                    </p>

                    <div class="ui purple button"
                    >
                        Başvurunu Tamamla
                    </div>

                </div>

                <div
                        class="description"
                >
                    <p>
                        <strong>
                            {{ DASHBOARD.SUBMITTED_TITLE }}
                        </strong>
                    </p>
                    <p>
                        {{ DASHBOARD.SUBMITTED }}
                    </p>


                </div>

                <div
                >
                    <p>
                        <strong>
                            {{ DASHBOARD.CLOSED_AND_INCOMPLETE_TITLE }}
                        </strong>
                    </p>
                    <p>
                        {{ DASHBOARD.CLOSED_AND_INCOMPLETE }}
                    </p>
                </div>

                <div
                        class="description"
                >

                    <div
                            class="markdown"
                    >
                    </div>


                </div>

                <div
                        class="description"
                >

                    <div class="markdown">
                        <h4>
                            {{ DASHBOARD.ADMITTED_AND_CAN_CONFIRM_TITLE }}
                        </h4>
                    </div>

                    <div
                            class="markdown"
                    >
                    </div>

                    <div class="markdown">
                        <h4>
                            {{ DASHBOARD.ADMITTED_AND_CAN_CONFIRM }}
                        </h4>
                    </div>

                    <div class="ui purple button"
                    >
                        Katılımını Teyit Et
                    </div>

                    <div class="ui red button"
                    >
                        Katılımını Reddet
                    </div>

                </div>

                <div
                        class="description"
                >
                    <p>
                        <strong>
                            {{ DASHBOARD.PAYMENT_TITLE }}
                        </strong>
                    </p>
                    <p>
                        {{ DASHBOARD.PAYMENT }}
                    </p>

                    <div class="ui purple button"
                    >
                        Teyit formunu düzenle
                    </div>

                    <div class="ui red button"
                    >
                        Katılımını Reddet
                    </div>

                </div>

                <div
                        class="description"
                >

                    <div class="markdown">
                        <h4>
                            {{ DASHBOARD.ADMITTED_AND_CANNOT_CONFIRM_TITLE }}
                        </h4>

                        <p>
                            {{ DASHBOARD.ADMITTED_AND_CANNOT_CONFIRM }}
                        </p>
                    </div>

                </div>

                <div
                        class="description"
                >

                    <div
                            class="markdown"
                    >
                        <h4>
                            {{ DASHBOARD.CONFIRMED_NOT_PAST_TITLE }}
                        </h4>
                    </div>

                    <div
                            class="markdown"
                    >
                    </div>

                    <div class="ui purple button"
                    >
                        Teyit Bilgilerini {{pastConfirmation ? 'Görüntüle' : 'Düzenle'}}
                    </div>

                    <div class="ui red button"
                    >
                        Katılımı Reddet
                    </div>

                </div>

                <div
                        class="description"
                >

                    <p>
                        {{ DASHBOARD.DECLINED }}
                    </p>
                </div>

            </div>

        </div>
    </div>
</div>
